body {
    font-family: Arial;
    margin: 0;
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background: #1e293b;
}

nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
    background: #2563eb;
}

.profile-pic {
    width: 120px;
    border-radius: 50%;
}

.resume-btn {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: white;
    color: #2563eb;
    border-radius: 20px;
    cursor: pointer;
}

section {
    padding: 30px;
}

.project {
    background: #1e293b;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}

.links a {
    margin: 10px;
    padding: 10px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Animation */
section {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}
